@import 'colors.css';

.overlay {
    background: transparent;
}

ul.byline {
  padding: .3rem .6rem .3rem .3rem;
  margin: 0 0 0 2.5rem;
  font-size: small;
  text-transform: uppercase;
  color: var(--lt-text-color);
}

.byline .title {
  font-style: italic;
}

.byline .medium,
.byline .data,
.byline .collection {
  font-size: x-small;
}

.artBG {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #f9ebc6;
  opacity: .8;
  transition: opacity .1s linear;
  z-index: -1;
}
