:root {
  --panel-bg-color: rgba(20,20,20,.8);
  --lt-text-color: #eae8ed;
  --md-text-color: #bbb;
  --dk-text-color: #333;
  --main-text-color: var(--dk-text-color);
  --md-bg-color: #bbb;
  --lt-bg-color: lightGrey;
  --trans-lt-bg-color: #f0f0f0b3;
  --trans-dk-stop-1: #110b065c;
  --trans-dk-stop-2: #070603b3;
  --highlight-blue: #144b9666;
}
