.weatherData {
  font-size: x-large;
  margin: 0;
}

.weather i.weather-icon.owi {
  display: inline;
  margin: .25rem;
  vertical-align: text-top;
}

.weather .temperature {
  display: inline;
}

.tempUnits{
  font-size: large;
}

.weather .location {
  text-transform: uppercase;
  margin: 0;
  text-align: right;
  font-size: x-small;
}
