@import 'colors.css';

.App {
  text-align: center;
  color: var(--main-text-color);
}

:focus {
  outline: none;
}

.corner {
  position: absolute;
}

.top {
  top: 1rem;
}

.bottom {
  bottom: 1rem;
}

.left {
  left: 1rem;
  text-align: left;
}

.right {
  right: 1rem;
  text-align: right;
}

.togglePanelLabel {
  text-transform: uppercase;
  font-size: small;
}

.left .togglePanelLabel {
  margin: 0 0 0 .4rem;
}

.right .togglePanelLabel {
  margin: 0 .4rem 0 0;
}

.top .togglePanelLabel {
  vertical-align: top;
}

.bottom .togglePanelLabel {
  vertical-align: bottom;
}

.panel {
  --panel-pad: 1rem;
  color: var(--lt-text-color);
  background-color: rgba(20,20,20,.8);
  padding: var(--panel-pad);
  box-sizing: border-box;
  margin-bottom: .25rem;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

.panel ul {
  --panel-ul-marg-bottom: .5rem;
  padding: 0;
  margin: 0 0 var(--panel-ul-marg-bottom) 0;
}

input[type='button'], input[type='submit'] {
  -webkit-appearance: none;
  display: inline-block;
  padding: 1px .3rem;
  border-radius: .7rem;
  line-height: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--dk-text-color);
  background-color: var(--md-bg-color);
  border: 1px solid var(--lt-text-color);
}
