.overlay {
    background: transparent;
}

ul.byline {
  padding: .4rem .6rem .4rem .4rem;
  margin: 0 2.5rem;
  border-radius: .25rem;
  font-size: small;
  text-transform: uppercase;
  background-color: rgba(240,240,240,.7);
  box-shadow: 0 0 4px 2px rgba(240,240,240,.7);
}

.byline .title {
  font-style: italic;
}

.byline .medium,
.byline .data,
.byline .collection {
  font-size: x-small;
}

.artBG {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: .8;
  transition: opacity .1s linear;
  z-index: -1;
}
