.overlay {
    background: transparent;
}

ul.byline {
  margin: 0;
  font-size: small;
  text-transform: uppercase;
}

.byline .title {
  font-style: italic;
}

.byline .medium,
.byline .data,
.byline .collection {
  font-size: x-small;
}

.artBG {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: .8;
  transition: opacity .1s linear;
  z-index: -1;
}
